body {
    background-color: #333650;
}

.food-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.category {
    text-align: center;
}

.item {
    margin-bottom: 20px;
}