{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<div class="container">
    <div class="custom-red py-3 my-5">
        <div class="row text-center">
            <h2 class="text-decoration-underline">Edit Profile</h2>
        </div>

        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <td><strong>First Name:</strong></td>
                    <td>{{ user.userprofile.first_name }}</td>
                </tr>

                <tr>
                    <td><strong>Last Name:</strong></td>
                    <td>{{ user.userprofile.last_name }}</td>
                </tr>

                <tr>
                    <td><strong>Telephone Number:</strong></td>
                    <td>{{ user.userprofile.phone_number}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row my-3">
        <div class="col-12">
            {% if updated %}
            <div class="alert alert-success" role="alert">
                You have successfully updated your profile.
            </div>

            {% else %}

            {% if user.is_authenticated %}

            <div class="w-75 mx-auto py-5">
                <form class="row g-3" method="post">
                    {% csrf_token %}

                    {{ Edit_ProfileForm | crispy }}

                    <div class="col-12 text-center">
                        <button type="submit" value="Update" class="btn bg-dark text-white mx-auto d-block my-3">
                            Update Profile
                        </button>
                    </div>
                </form>
            </div>
            {% endif %}

            {% endif %}

            {% else %}

            Please login to edit your profile

            {% endif %}

            {% endblock %}
        </div>
    </div>