{% extends "base.html" %}

{% block content %}
<h1 class="text-center text-decoration-underline py-3 display-3 fw-bold">Menu</h1>

<div class="row">
    <div class="col-md-4 col-sm-6 col-12 text-center">
        <h3 class=" py-3">Breakfast</h3>
        <ul class="list-group">
            <li class="list-group-item bg-success text-dark shadow">Egg and Beef Sausage Sandwich</li>
            <li class="list-group-item bg-success text-dark shadow">Pancakes with Maple Syrup</li>
            <li class="list-group-item bg-success text-dark shadow">French Toast</li>
            <li class="list-group-item bg-success text-dark shadow">Bagel with Cream Cheese</li>
            <li class="list-group-item bg-success text-dark shadow">Fruit Salad</li>
        </ul>
    </div>

    <div class="col-md-4 col-sm-6 col-12 text-center">
        <h3 class="py-3">Lunch</h3>
        <ul class="list-group">
            <li class="list-group-item bg-success text-dark shadow">Caesar Salad</li>
            <li class="list-group-item bg-success text-dark shadow">Margherita Pizza</li>
            <li class="list-group-item bg-success text-dark shadow">Grilled Chicken Sandwich</li>
            <li class="list-group-item bg-success text-dark shadow">Grilled Chicken Wrap</li>
            <li class="list-group-item bg-success text-dark shadow">Fish and Chips</li>
        </ul>
    </div>

    <div class="col-md-4 col-12 text-center">
        <h3 class="py-3">Dinner</h3>
        <ul class="list-group">
            <li class="list-group-item bg-success text-dark shadow">Steak with Fries</li>
            <li class="list-group-item bg-success text-dark shadow">Grilled Salmon</li>
            <li class="list-group-item bg-success text-dark shadow">Pesto Pasta</li>
            <li class="list-group-item bg-success text-dark shadow">Chicken Alfredo</li>
            <li class="list-group-item bg-success text-dark shadow">Vegetable Stir Fry</li>
        </ul>
    </div>
</div>
</div>
</div>
{% endblock %}