{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center text-decoration-underline py-3">Menu</h1>

    <div class="row">
        <div class="col-md-4 col-12 text-center">
            <h3 class="text-decoration-underline py-3">Breakfast</h3>
            <ul class="list-group">
                <li class="list-group-item custom-red text-white">Egg and Beef Sausage Sandwich</li>
                <li class="list-group-item custom-red text-white">Pancakes with Maple Syrup</li>
                <li class="list-group-item custom-red text-white">French Toast</li>
                <li class="list-group-item custom-red text-white">Bagel with Cream Cheese</li>
                <li class="list-group-item custom-red text-white">Fruit Salad</li>
            </ul>
        </div>

        <div class="col-md-4 col-12 text-center">
            <h3 class="text-decoration-underline py-3">Lunch</h3>
            <ul class="list-group">
                <li class="list-group-item custom-red text-white">Caesar Salad</li>
                <li class="list-group-item custom-red text-white">Margherita Pizza</li>
                <li class="list-group-item custom-red text-white">Grilled Chicken Sandwich</li>
                <li class="list-group-item custom-red text-white">Grilled Chicken Wrap</li>
                <li class="list-group-item custom-red text-white">Fish and Chips</li>
            </ul>
        </div>

        <div class="col-md-4 col-12 text-center">
            <h3 class="text-decoration-underline py-3">Dinner</h3>
            <ul class="list-group">
                <li class="list-group-item custom-red text-white">Steak with Fries</li>
                <li class="list-group-item custom-red text-white">Grilled Salmon</li>
                <li class="list-group-item custom-red text-white">Pesto Pasta</li>
                <li class="list-group-item custom-red text-white">Chicken Alfredo</li>
                <li class="list-group-item custom-red text-white">Vegetable Stir Fry</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}