{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container text-center custom-red mt-5">
    <div class="row my-3">
        <div class="col-12">
            <h2 class="text-decoration-underline">Profile</h2>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row my-3">
        <div class="col-6">
            <h5>First Name:</h5>
        </div>
        <div class="col-6">
            <p>{{ profile.first_name }}</p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-6">
            <h5>Last Name:</h5>
        </div>
        <div class="col-6">
            <p>{{ profile.last_name }}</p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-6">
            <h5>Telephone Number:</h5>
        </div>
        <div class="col-6">
            <p>{{ profile.phone_number }}</p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-6">
            <h5>Username:</h5>
        </div>
        <div class="col-6">
            <p>{{ user.username }}</p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-6">
            <h5>Email:</h5>
        </div>
        <div class="col-6">
            <p>{{ user.email }}</p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            {% if updated %}
            <div class="alert alert-success" role="alert">
                Your profile has been updated successfully!
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                {{ EditProfileForm|crispy }}
                {{ EditUserForm|crispy }}
                <input type="submit" value="Update Profile" class="btn custom-red text-white my-3" />
            </form>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}